body{
	background: url(1486693339273.jpg) repeat fixed center top;
	font-family: 'EB Garamond', serif;
	color: #4A1502;
}
.main{
	width: auto;
	max-width: 1050px;
	margin: auto;
	margin-top: 10px;
}
.header{
	width: 100%;
	max-width: 1040px;
	padding: 10px 0px;
	margin: 5px;
	text-align: center;
}
.content{
	background: rgba(182,89,11,.5);
	width: 75%;
	min-width: 210px;
	float: left;
	margin: 5px;
	padding: 4px;
	border-radius: 4px;
}
.sidebar{
	background: rgba(182,89,11,.5);
	width: 210px;
	float: left;
	margin: 5px;
	padding: 4px;
	border-radius: 4px;
}
ul.sidebarlist{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ul.sidebarlist li a{
	color: #4A1502 !important;
	text-decoration: underline;
}
.sidebar h3{
	margin: 0px;
	padding: 4px 0px;
}