/*!
Theme Name: M3cha
Author: RyanJones
Version: 0.1
*/
@font-face {
  font-family: andes_o;
  src: url("ANDES.TTF"); }
@font-face {
  font-family: cgoth_o;
  src: url("CGOTH.TTF"); }
/* RGB */
html {
  height: 100vh; }

body {
  background-image: url("1486693339273.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*overflow: hidden;*/
  font-family: "cgoth_o";
  color: #c3c3c3; }

.container {
  background: none;
  display: block;
  margin: 25vh auto 0;
  width: 75%; }

h1 {
  font-family: "andes_o";
  font-size: 84px;
  display: block;
  text-align: center;
  margin: 0 auto 20px;
  color: #cccccc;
  text-shadow: 0px 0px 5px black; }

.list {
  width: 18%;
  min-width: 250px;
  margin: 0 auto;
  text-align: center;
  background-color: f00; }

.dropdown-top {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  margin: 0;
  padding: 0; }

.dropdown-list {
  width: 100%;
  visibility: hidden;
  list-style: none;
  border: 0;
  margin: 0;
  padding: 0;
  height: 0; }

li {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin: none;
  padding: none; }

li:hover {
  background-color: rgba(0, 0, 0, 0.75); }

li a {
  text-decoration: none;
  color: #cccccc; }

.list:hover .dropdown-list {
  visibility: visible;
  height: auto; }

.list:hover .dropdown-top {
  background-color: rgba(0, 0, 0, 0.75); }

/*# sourceMappingURL=style.css.map */
