/*!
Theme Name: M3cha
Author: RyanJones
Version: 0.1
*/
@font-face{
  font-family: andes_o;
  src: url("ANDES.TTF");
}

@font-face{
  font-family: cgoth_o;
  src: url("CGOTH.TTF");
}


@import "scss/variables";
@import "scss/base";