$bg: url("1486693339273.jpg");
$erif: 'noto serif', serif;
$titlefont: blackchancery, serif;

/* RGB */
$primarygrey: rgb(195,195,195);
$titlegrey: rgb(170,170,170);
$backgrounddark: rgb(35,35,35);
$backgrounddarker: rgb(28,28,28);
$backgrounddarkest: rgb(25,25,25);
$primarygreen: rgb(62, 113, 87);
